name: Continuous Integration
on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-14]
        python-version: ["3.11", "3.12", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Start Redis
        uses: shogo82148/actions-setup-redis@v1
        with:
          redis-port: 6379
          redis-version: "6.x"
          auto-start: true

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Set up dependencies
        run: uv sync -p ${{ matrix.python-version }}

      - name: Download DWD MOSMIX
        run: |
          wget https://opendata.dwd.de/weather/local_forecasts/mos/MOSMIX_S/all_stations/kml/MOSMIX_S_LATEST_240.kmz

      - name: Run tests
        env:
          FIREBASE_CREDENTIALS: ${{ secrets.FIREBASE_CREDENTIALS }}
        run: |
          echo $FIREBASE_CREDENTIALS | base64 --decode > firebase.json
          GOOGLE_APPLICATION_CREDENTIALS=firebase.json uv run -p ${{ matrix.python-version }} pytest -W error

      - name: Report coverage with Codecov
        if: matrix.python-version == 3.13 && matrix.os == 'ubuntu-24.04'
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          flags: unittests

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }} && matrix.python-version == 3.13 && matrix.os == 'ubuntu-24.04'
        uses: codecov/test-results-action@v1

      - name: SonarQube Scan
        if: matrix.python-version == 3.13 && matrix.os == 'ubuntu-24.04'
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
